:root{
    /* Primary Color */
    --primary-color-950: #39a900;
    --primary-color-900: #36ae0f;
    --primary-color-850: #42b31e;
    --primary-color-800: #4fb82d;
    --primary-color-750: #5bbd3c;
    --primary-color-700: #68c24b;
    --primary-color-650: #75c75a;
    --primary-color-600: #81cc69;
    --primary-color-550: #8ed178;
    --primary-color-500: #9ad787;
    --primary-color-450: #a7dc96;
    --primary-color-400: #b3e1a5;
    --primary-color-350: #c0e6b4;
    --primary-color-300: #cdebc3;
    --primary-color-250: #d9f0d2;
    --primary-color-200: #e6f5e1;
    --primary-color-150: #f2faf0;
    /* Secundary Color */
    --secundary-color-950: #82def0;
    --secundary-color-900: #89e0f1;
    --secundary-color-850: #91e2f2;
    --secundary-color-800: #98e4f3;
    --secundary-color-750: #9fe6f4;
    --secundary-color-700: #a7e8f4;
    --secundary-color-650: #aee4f5;
    --secundary-color-600: #b5ecf6;
    --secundary-color-550: #bdeef7;
    --secundary-color-500: #c4eff8;
    --secundary-color-450: #ccf1f9;
    --secundary-color-400: #d3f3fa;
    --secundary-color-350: #daf5fb;
    --secundary-color-300: #e2f7fb;
    --secundary-color-250: #e9f9fc;
    --secundary-color-200: #f0fbfd;
    --secundary-color-150: #f8fdfe;
    
    /* Neutral Colors */
    --black: #000000;
    --black-variation-1: #0f0f0f;
    --black-variation-2: #1e1e1e;
    --black-variation-3: #2d2d2d;
    --black-variation-4: #3c3c3c;
    --black-variation-5: #4b4b4b;

    --gray: #5a5a5a;
    --gray-variation-1: #696969;
    --gray-variation-2: #787878;
    --gray-variation-3: #878787;
    --gray-variation-4: #969696;
    --gray-variation-5: #a5a5a5;
    --gray-variation-6: #b4b4b4;
    --gray-variation-7: #c3c3c3;
    --gray-variation-8: #d2d2d2;
    --gray-variation-9: #e1e1e1;
    --gray-variation-10: #f0f0f0;

    --white: #ffffff;

    /* Font Size */
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;

    /* Font Family */
    --font-family-regular: "senavanza-regular";
    --font-family-bold:"senavanza-bold";

}
html{
    font-size: 62.5%; /*Hack que permite manejar rem con facilidad*/
    box-sizing: border-box;
}
/*Snipet Paul*/
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    margin: 0 auto;
    background-color: var(--white);
    font-family: var(--font-family-regular);
}
/* Contenedor Principal */
.container-principal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/* Barra lateral */
.barra_lateral{
    background-color: var(--primary-color-900);
    width: 32rem;
    height: 72.9rem;
}
.user_photo{
    background-repeat: no-repeat;
    margin-left: 9rem;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
}
.username{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-h4);
}
.menu {
    width: 100%;
    text-align: left;
}

.menu a {
    text-align: left;
    display: block;
    padding: 1rem;
    color: var(--black);
    text-decoration: none;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    background-color: var(--white);
    width: 24rem;
    height: 3.4rem;
    margin-left: 4rem;
    font-size: var(--font-size-h6);
}

.menu a:hover {
    background-color: var(--black);
    color: var(--white);
}
.logout-button {
    margin-left: 4rem;
    margin-top: 8rem;
    background-color: var(--black);
    color: white;
    border: none;
    padding: px;
    border-radius: 5px;
    cursor: pointer;
    width: 24rem;
    height: 3.4rem;
    text-align: center;
}

.logout-button:hover {
    background-color: var(--black-variation-5);
}
  
/* Main */
.menu{
    grid-column: span 3;
}
/* Titulos formato */
.title-opcion{
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: var(--font-size-h1);
}
/* Crear_Programas_Formacion */
.form{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-right: 4rem;
  margin-top: 2rem;
}

.input-group {
  margin-bottom: 1.6rem;
  margin-left: 4rem;
}
.input {
  display: block;
  width: 100%;
  height: 3.4rem;
  padding: 1rem 1.6rem;
  border: 0.1rem solid var(--gray-variation-7);
  border-radius: 0.6rem;
  font-size: 1rem;
  color: var(--gray); 
  outline: none;
  transition: border-color 0.2s;
  align-items: center;
}

.input:focus {
  border-color: var(--primary-color-500); 
  box-shadow: 0 0 0 0.3rem var(--primary-color-500);
}

.imagen-relleno{
  width: 100rem;
  height: 50rem;
  margin-left: 10rem;
}
.bt_crear{
  border-radius: 0.6rem;
  margin-left: 48rem;
  width: 20rem;
  height: 3.4rem;
  background-color: var(--primary-color-900);
  color: var(--white);
  border: 0.1rem solid var(--primary-color-400);
}
.bt_crear:hover{
  background-color: var(--black);
}
/* Listar_Programas_Formacion */

.container {
    width: 90%;
    height: 60rem;
    margin: 0.1rem auto;
    overflow-x: auto;
  }
  
.user-table {
    
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-table thead {
    background-color: var(--primary-color-900);
    color: white;
    border-radius: 0.4rem;
  }
  
  .user-table th,
  .user-table td {
    padding: 1rem 1.5rem;
    text-align: left;
    font-size: var(--font-size-h6);
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .user-table a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .user-table .edit {
    color: var(--black);
  }
  
  .user-table .delete {
    color: var(--black);
  }
  /* Visualizar_Programas_Formacion */

/* Estilos del buscador */
.search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  
  .search-input {
    margin: 0.5rem;
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    border: 0.1rem solid var(--gray-variation-7);
    border-radius: 0.4rem 0 0 0.4rem;
    font-size: var(--font-size-h5);
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: var(--primary-color-800);
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: var(--font-size-h5);
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: var(--black);
  }
  /* Reporte Programas Formacion */
  .bt_descargar{
    border-radius: 0.6rem;
    margin-left: 48rem;
    margin-top: 2rem;
    width: 20rem;
    height: 3.4rem;
    background-color: var(--primary-color-700);
    color: var(--white);
    border: 0.1rem solid var(--primary-color-400);
  }
  .bt_descargar:hover{
    background-color: var(--black);
  }

/* Consultas de medios */
@media (max-width: 1024px) {
  .container-principal {
      grid-template-columns: repeat(2, 1fr);
  }

  .barra_lateral {
      width: 100%;
      height: auto;
  }

  .form {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container-principal {
      grid-template-columns: 1fr;
  }

  .form {
      grid-template-columns: 1fr;
  }

  .bt_crear, .bt_descargar, .menu, .menu a, .logout-button {
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      margin: 0;
  }
}

@media (max-width: 480px) {
  html {
      font-size: 50%;
  }

  .menu a {
      margin: 0.8rem;
      font-size: var(--font-size-h5);
  }

  .user-table th,
  .user-table td {
      font-size: 1rem;
  }

  .search-input {
      font-size: 1rem;
  }
  .imagen-relleno{
      margin: 0;
      width: 100%;
  }
  .user_photo{
    margin-left: 16rem;
  }
}